/* Additions for New internal page */
/* USING .p_ for all styles for Products Page */


.p_Title{
  margin-top: 204px;
  margin-bottom: 41px;
  color: black;
  font-family: 'Noto Serif Display', serif;
  font-size: 47px;
  text-align: center;
}
p.p_Para{
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

/* PRODUCT LIST */

.p_Div_Row{
  width: 1447px;
  height: 457px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: auto;
}
.p_Div_Product{
  width: 310px;
  height: 457px;
  border-width: 1px;
  border-style: solid;
  border-color: #707070;
  border-radius: 44px;
  align-content: center;
  background-color: #E3E3E3;
}
.p_Div_PhotoDiv{
  width: 260px;
  height: 260px;
  margin: auto;
  margin-top: 25px;
}
.p_Div_Photo{
  width: 260px;
  margin: auto;
  height: 260px;
}
.p_Div_NamePrice{
  height: 95px;
  width: 285px;
  display: flex;
  justify-content: space-between;
}
.p_Div_Name{
  width: 172px;
  padding: 25px;
}
.p_ProductName{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.p_Detail{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 5px;
}
.p_rating{
  display: flex;
  justify-content: space-between;
  width: 130px;
}
.star{
  width: 23px;
}
.nostar{
  width: 23px;
}
.p_Div_Price{
  width: 100%;
}
.p_price{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  margin-top: 53px;
}
.p_DetailRightA{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-align: right;
  margin-top: 5px;
}
.CFA{
  align-content: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}
button{
  width: 228px;
  height: 48px;
  border-radius: 37px;
  color: Black;
  border-style: none;
  background-color: #FDB301;
  margin-right: 2px;
}
.p_icon_cart{
  margin-left: 5px;
  width: 25px;
}
